* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
}

.container {
    display: flex;
    align-items: flex-end;
}

.show-button {
    padding: 0.5rem;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: aqua;
    text-align: center;
    color: black;
    font-size: 1rem;
}

.show-button:hover {
    background-color: aquamarine;
}

.container-option {
    margin-top: 1rem;
}